{% extends "layout/main" %}

{% set bodyId = 'pages' %}

{% block content %}
    <div id="wrapper">
      
      <header id="header">
        
        {% include "layout/mobile-menu" with {title:'Contact'} %}
        
        {% include "layout/mobile-header" %}
        
        {% include "layout/desktop-menu" %}
      </header> <!-- #header -->
      
      <section id="content" class="contact-list">
        <div class="content-wrapper row-fluid">
          <div class="span3">
          	
          	<a href="" class="sidebar-nav">&laquo; Back to Listings</a>
          
          </div> <!-- .span3 -->
          <div class="span9 right-content">
            
            <div class="entry">
              <div class="row-fluid">
              	<span class="span10">
              		<h3 class="title">Now Leasing</h3>
              	</span>
              	<span class="span2">
              		<a href="javascript:window.print()" class="print-nav">Print</a>
              	</span>
              </div>
              
              <section class="contact-description">
                <header>
                  <h3>RIDGE GOODMAN PLAZA, Irondequoit, NY</h3>
                  <span class="detail">
                    Hard Corner Outparcel <br/>
                    2,500 and 3,400sf In-Line Spaces
                  </span>
                  
                  <img src="{{ siteUrl }}images/site/contact_feature.jpg" alt="Feature" />
                  
                  <ul class="feature-list">
                  	<li>- Donec id elit non mi porta gravida at eget metus.</li>
                  	<li>- Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                  	<li>- Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                  	<li>- Etiam porta sem malesuada magna mollis euismod.</li>
                  </ul>
                  
                </header> <!-- header -->
                
                <div class="content">
                	<h5>Area retailers include:</h5>
                	
                	<div class="row-fluid featured-image-list">
                		<span class="span2"> <img src="{{ siteUrl }}images/site/contact-list-block.jpg" alt="" /> </span>
                		<span class="span2"> <img src="{{ siteUrl }}images/site/contact-list-block.jpg" alt="" /> </span>
                		<span class="span2"> <img src="{{ siteUrl }}images/site/contact-list-block.jpg" alt="" /> </span>
                		<span class="span2"> <img src="{{ siteUrl }}images/site/contact-list-block.jpg" alt="" /> </span>
                		<span class="span2"> <img src="{{ siteUrl }}images/site/contact-list-block.jpg" alt="" /> </span>
                		<span class="span2"> <img src="{{ siteUrl }}images/site/contact-list-block.jpg" alt="" /> </span>
                	</div>
                	
                	<p>Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                	
                	<p>Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
</p>
                	
                	<h5>Area map:</h5>
                	<img src="{{ siteUrl }}images/site/contact_feature.jpg" alt="Feature" />
                	<p>Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                	
                	<img src="{{ siteUrl }}images/site/contact_feature.jpg" alt="Feature" />
                	
                	<table class="hidden-phone">
                		<thead>
      	          		<tr>
   	             			<th>Demographics</th> <th>3 Miles</th> <th>5 Miles</th> <th>7 Miles</th>
	                		</tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>Estimated Population</td> <td>123,048</td> <td>123,048</td> <td>123,048</td>
                			</tr>
                			<tr>
                				<td>Estimated Household</td> <td>48,981</td> <td>48,981</td> <td>48,981</td>
                			</tr>
                			<tr>
                				<td>Average Household Income</td> <td>$44,987</td> <td>$44,987</td> <td>$44,987</td>
                			</tr>
                			<tr>
                				<td>Media Household Income</td> <td>$41,489</td> <td>$41,489</td> <td>$41,489</td>
                			</tr>
                			<tr>
                				<td>Daytime Population</td> <td>43,384</td> <td>43,384</td> <td>43,384</td>
                			</tr>
                		</tbody>
                	</table>
                	
                	<table class="visible-phone">
                		<tr>
                			<th>Estimated Population</th>
                		</tr>
                		<tr>
                			<td>
                				3 Miles - 123,048 <br/>
                				5 Miles - 123,048 <br/>
                				7 Miles - 123,048 <br/>
                			</td>
                		</tr>
                		<tr>
                			<th>Estimated Population</th>
                		</tr>
                		<tr>
                			<td>
                				3 Miles - 123,048 <br/>
                				5 Miles - 123,048 <br/>
                				7 Miles - 123,048 <br/>
                			</td>
                		</tr>
                		<tr>
                			<th>Estimated Population</th>
                		</tr>
                		<tr>
                			<td>
                				3 Miles - 123,048 <br/>
                				5 Miles - 123,048 <br/>
                				7 Miles - 123,048 <br/>
                			</td>
                		</tr>
                		<tr>
                			<th>Estimated Population</th>
                		</tr>
                		<tr>
                			<td>
                				3 Miles - 123,048 <br/>
                				5 Miles - 123,048 <br/>
                				7 Miles - 123,048 <br/>
                			</td>
                		</tr>
                		<tr>
                			<th>Estimated Population</th>
                		</tr>
                		<tr>
                			<td>
                				3 Miles - 123,048 <br/>
                				5 Miles - 123,048 <br/>
                				7 Miles - 123,048 <br/>
                			</td>
                		</tr>
                	</table>
                	
                	<div class="row-fluid">
              	  	   <span class="span10">
              	  	     <span class="contact-info">	
  	               	  	 <h5>Contact:</h5>
   		      	       Name Namerson (585) 362-8705 <br/>
		      	          <a href="name@ferrarajerum.com">name@ferrarajerum.com</a>
	                		</span>
                		</span>
                   	<span class="span2">
       	           	  <a href="javascript:window.print()" class="print-nav contact-print">Print</a>
    	              	</span>
                	</div>
                	
                	<div class="contact-form row-fluid">
                		<div class="span4 visible-phone">
                		  <div class="wrapper">
                  		  <strong>Address</strong>
                  		  339 East Avenue, Suite 4320 <br/>
                  		  Rochester, NY 14604 <br/>
                  		  <a href="">View Map &raquo;</a> <br/>
                		  
                  		  <strong>Telephone</strong>
                  		  585.454.6991 <br/>
                		  
                  		  <strong>Email</strong>
                  		  <a href="mailto:info@ferrarajerum.com">info@ferrarajerum.com</a> <br/>
                		  
                  		  <strong>We're Hiring</strong>
                  		  Donec id elit non mi porta gravida at eget metus. <br/>
                  		  <a href="mailto:jobs@ferrarajerum.com">jobs@ferrarajerum.com</a> <br/>
                		  
                  		  <ul class="sidebar-socmed">
                  		    <li> <a href="" class="twitter"> &nbsp; </a> </li>
                  		    <li> <a href="" class="facebook"> &nbsp; </a> </li>
                   		    <li> <a href="" class="linkedin"> &nbsp; </a> </li>
                  		  </ul>
                		  </div>
                		</div>
                		<div class="span8">
                		  <div class="wrapper">
                  		  <p>Professional development, nuturing and individual growth are constants at FJI. It's how we've become the cohesive, effective team we are today. It's why you can count on us to be here tomorrow.</p>
                  		  <p>All this said, the best way to prove our value to your business is to get to work. If you're looking for strategic growth, let's start.</p>
                		  
                  		  <form>
                  		    <input type="text" placeholder="Your Name" /> <br/>
                  		    <input type="text" placeholder="Your Email Address" /> <br/>
                  		    <textarea placeholder="Your Message"></textarea> <br/>
                  		    <input type="submit" value="SEND" />
                  		  </form>
                		  </div>
                		</div>
                		<div class="span4 hidden-phone">
                		  <div class="wrapper">
                  		  <strong>Address</strong>
                  		  339 East Avenue, Suite 4320 <br/>
                  		  Rochester, NY 14604 <br/>
                  		  <a href="">View Map &raquo;</a> <br/>
                		  
                  		  <strong>Telephone</strong>
                  		  585.454.6991 <br/>
                		  
                  		  <strong>Email</strong>
                  		  <a href="mailto:info@ferrarajerum.com">info@ferrarajerum.com</a> <br/>
                		  
                  		  <strong>We're Hiring</strong>
                  		  Donec id elit non mi porta gravida at eget metus. <br/>
                  		  <a href="mailto:jobs@ferrarajerum.com">jobs@ferrarajerum.com</a> <br/>
                		  
                  		  <ul class="sidebar-socmed">
                  		    <li> <a href="" class="twitter"> &nbsp; </a> </li>
                  		    <li> <a href="" class="facebook"> &nbsp; </a> </li>
                   		    <li> <a href="" class="linkedin"> &nbsp; </a> </li>
                  		  </ul>
                		  </div>
                		</div>
                	</div>
                	
                </div> <!-- .content -->
                
                <footer>
                  
                  <section>
                    <h4 class="twitter-stream-header"> LATEST from @FJIrealestate </h4>
                    <div class="row-fluid">
                      <span class="span4">
                      	<span class="wrapper">
                          <strong>8H AGO</strong>
                          <a href="">@WalmartNewsroom</a>: New Walmart Neighborhood market on the way in <a href="">#Niskayuna</a>, NY <a href="">http://bit.ly/Zi6xHg</a> 
                        </span>
                      </span> <!-- .span4 -->
                    
                      <span class="span4">
                        <span class="wrapper">
                          <strong>15 AGO</strong>
                          Used-car superstore <a href="">@CarMax</a> looking at <a href="">#Albany</a> for expansion. <a href="">http://bit.ly/ZjSqC6</a>  
                        </span>
                      </span> <!-- .span4 -->
                    
                      <span class="span4">
                        <span class="wrapper">
                          <strong>APRIL 20</strong>
                          <a href="">@WalmartNewsroom</a>: We're proud to have been part of this - Groundbreak Monday for <a href="">#WMT</a> Neighborhood store in Niskayuna <a href="">http://bit.ly/ZFVnHH</a>
                        </span>
                      </span> <!-- .span4 -->
                    </div>
                  </section> <!-- section -->
                  
                  <section class="news-grid row-fluid">
                      
                      <div class="span6">
                        <div class="wrapper">
                        <h4>In the News</h4>
                        <span>
                          <strong>12/21/2012</strong>
                          Vestibulum id ligula porta felis euismod semper. <br/>
                          <a href="">READ MORE ></a>
                        </span>
                      
                        <span>
                          <strong>12/21/2012</strong>
                          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br/>
                          <a href="">READ MORE ></a>
                        </span>
                      
                        <span>
                          <strong>12/21/2012</strong>
                          Et magnis dis parturient montes, nascetur ridiculus mus. <br/>
                          <a href="">READ MORE ></a>
                        </span>
                      </div>
                    </div> <!-- .span6 -->
                    
                    <div class="span6">
                      <div class="wrapper">
                        <h4>In the Press</h4>
                        <span>
                          <strong>12/21/2012</strong>
                          Vestibulum id ligula porta felis euismod semper. <br/>
                          <a href="">READ MORE ></a>
                        </span>
                      
                        <span>
                          <strong>12/21/2012</strong>
                          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br/>
                          <a href="">READ MORE ></a>
                        </span>
                      
                        <span>
                          <strong>12/21/2012</strong>
                          Et magnis dis parturient montes, nascetur ridiculus mus. <br/>
                          <a href="">READ MORE ></a>
                        </span>
                      </div>
                    </div> <!-- .span6 -->
                    
                  </section> <!-- section -->
                  
                </footer> <!-- footer -->
              </section>
            </div>
            
          </div> <!-- .right-content -->
        </div> <!-- .content-wrapper -->
      </section> <!-- #content -->
      
      <footer id="footer">
        <div class="row-fluid footer-content">
          <nav>
            <ul>
              <li> <a href="about.html">About Us</a> </li>
              <li> <span>/</span><a href="services.html">Services</a> </li>
              <li> <span>/</span><a href="clients.html">Clients</a> </li>
              <li> <span>/</span><a href="property.html">Property Listings</a> </li>
              <li> <span>/</span><a href="contact.html">Contact</a> </li>
            </ul>
          </nav>
          <span class="copyright">&copy; 2013 Ferrara Jerum International. All Rights Reserved.</span>
        </div>
      </footer> <!-- #footer -->
      
    </div> <!-- #wrapper -->
{% endblock %}